.appeal {
  p {
    @media (max-width: em(1100)){
      font-size: rem(17);
    }
  }
  &__header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: rem(166);
    @media (max-width: em(1240)){
      grid-template-columns: repeat(9, 1fr);
    }
    @media (max-width: em(1080)){
      grid-template-columns: repeat(8, 1fr);
    }
    @media (max-width: em(991)){
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: rem(140);
    }
    @media (max-width: em(840)){
      grid-template-columns: repeat(6, 1fr);
    }
    @media (max-width: em(670)){
      grid-template-rows: rem(100);
    }
    @media (max-width: em(480)){
      grid-template-rows: rem(80);
    }
    @media (max-width: em(420)){
      grid-template-rows: rem(70);
    }
    span {
      display: block;
      background: white;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
    }
  }
  &__body {
    padding: rem(8) rem(20) rem(106);
    background: white;
    display: flex;
    //justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  &__inner {
    width: 100%;
    max-width: rem(1026);

  }
  &__visual {
    position: absolute;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    width: rem(387);
    height: rem(411);
    //background: $pink;
    //opacity: .3;
    svg {
      width: 100%;
      height: 100%;
    }
    @media (max-width: em(1060)){
      width: rem(350);
      height: rem(372);
    }
    @media (max-width: em(920)){
      position: static;
      transform: unset;
      margin: 0 0 rem(20);
    }
    @media (max-width: em(480)){
      width: rem(300);
      height: rem(319);
    }
    @media (max-width: em(360)){
      width: rem(260);
      height: rem(277);
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: rem(813);
    column-gap: rem(39);
    row-gap: rem(60);
    @media (max-width: em(1240)){
      max-width: 70%;
    }
    @media (max-width: em(1100)){
      column-gap: rem(20);
    }
    @media (max-width: em(920)){
      //grid-template-columns: 100%;
      max-width: 100%;
      width: 100%;
    }
    @media (max-width: em(600)){
      grid-template-columns: 100%;
      row-gap: rem(40);
    }
  }
  &__item {
    max-width: rem(387);
    @media (max-width: em(600)){
      max-width: 100%;
    }
    svg {
      vertical-align: bottom;
      @media (max-width: em(768)){
        height: rem(21);
      }
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: rem(16);
    line-height: math.div(19 , 16);
    text-transform: uppercase;
    font-family: Lato, Arial, sans-serif;
    padding-left: rem(29);
    letter-spacing: 0.02em;
    margin: 0 0 rem(20);
    min-height: rem(33);
    display: flex;
    align-items: center;
    position: relative;
    width: rem(405);
    &::before {
      content: '';
      position: absolute;
      width: rem(80);
      height: rem(1);
      background: $black;
      bottom: rem(-11);
      left: 0;
    }
    @media (max-width: em(1240)){
      width: auto;
    }
    @media (max-width: em(991)){
      font-size: rem(14);
    }
  }
  h2 {
    text-align: center;
    color: $orange;
    margin: 0 0 rem(60);
    @media (max-width: em(920)){
      margin-bottom: 0;
    }
  }
  i {
    color: #FF334D;
  }
}