// Grid
$width_lg: 1170px;
$width_md: 991px;
$width_xs: 767px;
$width_mob: 500px;

$grid-width: 1170px;
$grid-gutter: 30px;
$grid-columns: 12;

// Colors:
$black: #1B1B1B;
$pink: #FF7A8B;
$light-pink: #FEC2B8;
$orange: #FE8E69;